*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: black;
    color: white;

}

#words-wrapper{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    perspective-origin: 50% 50%;
    perspective: 1500px;
}

.word {
    opacity: 0;
    transform-origin: 50% 50%;
    transform: translateZ(1500px);
    position: absolute;
    transition: transform 1.9s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    opacity 2.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.horizontal {
    opacity: 0;
    transform: translateY(1500px) rotate(90deg);
}


.word.show {
    opacity: 1;
    transform: translateZ(0);
}

.word.horizontal.show {
    transform: translateZ(0) rotate(90deg);
}